<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988995294932-r2vctip7im7ddj8p52rp24cckkq90dug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988995294932-r2vctip7im7ddj8p52rp24cckkq90dug</string>
	<key>API_KEY</key>
	<string>AIzaSyAtuIcW3feXgErnxnWkeYrEqdWzCHXbceA</string>
	<key>GCM_SENDER_ID</key>
	<string>988995294932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guttaredderverden.Busamigo</string>
	<key>PROJECT_ID</key>
	<string>busamigo-8ab9d</string>
	<key>STORAGE_BUCKET</key>
	<string>busamigo-8ab9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:988995294932:ios:d88ce26e88a2d16cf98d41</string>
</dict>
</plist>
